body {
  background: #f1d5d5;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: indianred;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
